@import "./variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}


// INDEX


.texto {
    font-family: Heebo;
    font-style: serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: $texto-primario;
    margin-left: 50px;
    margin-right: 50px;

    &__tiendavinter {
        font-family: Heebo;
        font-size: 1.12rem;
        font-weight: bold;
        text-decoration: none;
        color: $texto-primario;
        margin-right: 150px;
    }

}
.navegacion {
    position: sticky;
    top: 0;
    background-color: #fffffff1;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    z-index: 1;
}
.lista {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    margin-left: 30%;
    margin-right: 45px;
    transition: all 1s ease-in-out;
    width: auto;
    height: auto;
    &:hover {
        animation: mover 1.5s;
        animation-iteration-count: infinite;
    }
}

@keyframes mover {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    20% {
        transform: translate(-1px, 0px) rotate(0.5deg);
    }
    40% {
        transform: translate(0.5px, -0.5px) rotate(0.5deg);
    }
    60% {
        transform: translate(-1px, 0.5px) rotate(0deg);
    }
    80% {
        transform: translate(-0.5px, 1px) rotate(-0.5deg);
    }
    100% {
        transform: translate(0.5px, -0.5px) rotate(-0.5deg);
    }
}

.buscador {
    width: 50%;
    background-color: transparent;
    background-image: url(../recursos/searchicon3.png);
    background-position: 10px 7px;
    background-repeat: no-repeat;
    border-width: 0px;
    border-radius: 2px;
    border-style: hidden;
    border-color: transparent;
    padding: 10px 10px 10px 40px;
    margin-left: 150px;
    transition: all 0.7s ease-in-out;

    &:focus {
        border: transparent;
        border-color: transparent;
        background-color: $fondo-secundario;
        
    }
}
.linea {
    height: 1px;
    border-width: 0;
    color: $texto-alternativo;
    background-color: $texto-alternativo;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;

    &__2 {
        width: 25%;
        margin: auto;
        margin-bottom: 60px;
    }
}
.cuadrado {
    width: 500px;
    height: 500px;
    background-color: $fondo-primario;
    display: grid;
    align-content: space-evenly;
    justify-items: center;

    &__texto {
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-size: 1.1rem;
        width: 425px;
        padding: 0px 20px 10px 20px;
    }
    &__texto--titulo {
        font-family: 'Source Serif 4', serif;
        font-weight: 800;
        font-size: 2.4rem;
        text-align: center;
        padding: 40px 100px 10px 100px;
    }
}
.boton {
    font-family: Heebo;
    color: $texto-secundario;
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1px;
    border: 1.5px solid;
    border-color: #c5c5c5;
    background-color: transparent;
    padding: 2px 2px 1px 2px;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}
.rectangulo {
    width: 100%;
    height: 180px;
    background-color: $fondo-primario;
    text-align: center;
    display: grid;
    align-content: stretch;
    margin-bottom: 5%;

    &__texto--titulo {
        font-family: 'Source Serif 4', serif;
        font-size: 1.75rem;
        font-style: normal;
        color: #252525;
        display: grid;
        align-content: center;
    }
    &__texto {
        font-family: Frank Ruhl Libre;
        font-size: 1rem;
        color: $texto-secundario;
    }
}
.portada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    margin-bottom: 60px;
}
.footer {
    width: 40%;
    margin: auto;
    border-top-style: solid;
    border-width: 1px;
    border-color: $texto-alternativo;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__texto {
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-size: 1rem;
        color: $texto-secundario;
        text-align: right;
        display: flex;
        align-items: center;
        
    }
    &__texto--mail {
        margin-left: 2px;
    }
    &__texto--insta {
        margin: 0 100px 0 3px;
    }
    &__texto--powered {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style: unset;
        font-size: 0.8rem;
        padding-top: 35px;
        color: $texto-alternativo;
    }
}

a {
    text-decoration: none;
    transition: all 0.7s ease-in-out;

    &:hover {
        color: #a6a6a6;
    }
}

button:hover {
    font-size: 0.75rem;
    background-color: $fondo-secundario;
}
#logo:hover {
    opacity: 0.4;
    cursor: pointer;
}
#boton {
    color: $texto-secundario;
}


/*TIENDA*/

.tienda{
    
    &__texto {
        font-family: Heebo;
        font-size: 1rem;
        color: $texto-secundario;
        font-weight: bold;
        margin: 5px 0px 5px 0px;
    }
    &__linea {
        height: 1px;
        border-width: 0;
        color: $texto-alternativo;
        background-color: $texto-alternativo;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    &__linea--mod {
        width: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 90px;
    }
    &__elementos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        background-image: linear-gradient(to left, white, rgba(255, 235, 185, 0));
        transition: all 0.7s ease-in-out;
    }
    &__elementos:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-image: linear-gradient(to left, white, rgba(255, 235, 185, 0.452));
    }
    &__linea--articulo {
        width: 320px;
        height: 1px;
        border-width: 0;
        color: $texto-alternativo;
        background-color: $texto-alternativo;
        margin: 15px 0px 5px 0px ;
    }
}
#iamyourflexfather {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#h1 {
    font-family: Heebo;
    font-size: 1.75rem;
    color: $texto-primario;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}
.tienda__img {
    transition: all 0.7s ease-in-out;
    object-fit: cover;
}
#tienda__img:hover {
    border-radius: 8px;
}

/*BLOG*/

.blog{
    &__flex {
        width: 40%;
        margin: auto;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__elementos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 70px;
        transition: all 0.7s ease-in-out;
    }
    &__texto { 
        text-decoration: none;
        font-family: Frank Ruhl Libre;
        font-size: 1.6rem;
        color: $texto-secundario;
        font-weight: 500;
        padding-left: 50px;
    }
    &__hover:hover {
        border-radius: 10px;
        background-image: linear-gradient(to left, white, rgba(255, 235, 185, 0.452));    /*Chequear el tiempo de anim */
        cursor: pointer;
    }
}

/*CONTACTO*/

.contacto{
    &__form {
        width: 40vh;
        margin: 0 auto;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    &__texto {
        font-family: Frank Ruhl Libre;
        font-size: 1rem;
        color: $texto-secundario;
    }
}
.contacto__form {
    width: 40vh;
    margin: 0 auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.contacto__texto {
    font-family: Frank Ruhl Libre;
    font-size: 1rem;
    color: $texto-secundario;
}

.contacto__texto--mod {
    padding-bottom: 5px;
}

input[type=text] {
    width: 40vh;
    padding: 5px;
    border-width: 1px;
    border-color: $texto-alternativo;
    border-style: ridge;
    transition: all 0.5s ease-in-out;
    &[type=text]:focus {
        background-color: rgba(255, 235, 185, 0.452);
    }
}

input[type=email]{
    width: 40vh;
    padding: 5px;
    border-width: 1px;
    border-color: $texto-alternativo;
    border-style: ridge;
    transition: all 0.5s ease-in-out;
    &[type=email]:focus {
        border-color: transparent;
        background-color: $fondo-secundario;
    }
}

textarea {
    width: 60vh;
    height: 200px;
    resize: none;
    padding: 5px;
    border-width: 1px;
    border-color: $texto-alternativo;
    border-style: ridge;
}

input[type=submit] {
    font-family: Heebo;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-style: ridge;
    border-width: 1px;
    transition: all 0.5s ease-in-out;
    &[type=submit]:hover {
        background-color: $fondo-secundario;
        border-color: $fondo-secundario;
    }
}
input::placeholder {
    color: $texto-alternativo;
}
textarea::placeholder {
    color: $texto-alternativo;
}

/*SOBRE NOSOTRXS*/

.sobrenos{
    &__flex {
        display: flex;
        flex-direction: row;
    }
    &__rectangulo {
        width: 100%;
        height: 500px;
        background-color: $fondo-primario;
    }
    &__rectangulo--texto {
        font-family: Heebo;
        font-size: 1.87rem;
        color: #252525;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__rectangulo--textoancho {
        width: 615px;
        margin: auto;
        display: flex;
    }
    &__rectangulo--lineasup {
        height: 1px;
        border-width: 0;
        color: $texto-alternativo;
        background-color: $texto-alternativo;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 13px;
    }
    &__rectangulo--lineainf {
        height: 1px;
        border-width: 0;
        color: $texto-alternativo;
        background-color: $texto-alternativo;
        width: 100%;
        margin-top: 13px;
        margin-bottom: 50px;
    }
    &__flextextos {
        display: flex;
    }
    &__flextextos--img {
        display: flex;
        flex-direction: column;
        margin: 50px 0px 5% 38%;
    }
}
.creditos {
    font-family: Frank Ruhl Libre;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 50px 70px 0px 35%;
    &__nombres {
        color: $texto-secundario;
    }
    &__actividad {
        font-weight: bold;
    }
}
.parrafos {
    font-family: Frank Ruhl Libre;
    font-size: 1.4rem;
    color: $texto-secundario;
    width: 600px;
    text-align: justify;
    letter-spacing: 0.7px;
    &__mod {
        margin: 50px 0px 50px 140px;
    }
}
.imgMargin {
    margin: 50px 0px 50px 0px;
}

@media (max-width:576px) {
    .navegacion{
        margin: 0;
        padding: 0;
    }
    .logo{
        margin-left: 33%;
        padding: 0;
    }
    .texto{
        margin: 0;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        &__tiendavinter{
            margin-left: 43%;
        }
    }
    .lista{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-areas: 
        " vinterGrid vinterGrid vinterGrid vinterGrid"
        " tienda2 blog contacto sobrenosotrxs"
        ;
        grid-template-rows: 7fr 2fr;
        grid-template-columns: 2fr 1fr 1fr 2fr;
    }
    .vinterGrid{
        grid-area: vinterGrid;
    }
    .tienda2{
        grid-area: tienda2;
        padding-left: 30%;
    }
    .blog{
        grid-area: blog;
        padding-right: 50%;
    }
    .contacto{
        grid-area: contacto;
        padding-right: 50%;
    }
    .sobrenosotrxs{
        grid-area: sobrenosotrxs;
        padding-right: 45%;
    }
    .buscador{
        display: none;
    }
    .linea{
        margin: 10px 0 10% 0;
    }
    .imgPortada{
        height: 300px;
        width: 500px;
        object-fit: cover;
    }
    .portada{
        margin-bottom: 10%;
    }
    .cuadrado{
        height: 300px;
        align-content: center;
        row-gap: 20px;
        &__texto--titulo{
            padding: 0;
            font-size: 1.8rem;
        }
        &__texto{
            width: 75%;
            padding: 0;
            text-align: center;
        }
    }
    .boton{
        font-size: 0.8rem;
        font-weight: 200;
    }
    .linea__2{
        display: none;
    }  
    .rectangulo{
        width: 60%;
        height: auto;
        margin: auto;
        margin-bottom: 25%;
        background-color: white;
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: $texto-alternativo;
        &__texto--titulo{
            font-size: 1.6rem;
            padding-top: 3px;
        }
        &__texto{
            padding: 3px;
        }
    }
    .footer{
        width: 100%;
        padding-top: 10px;
        position: absolute;
        bottom: 0;
        &__texto{
            font-size: 0.9rem;
        }
        &__texto--mod{
            width: 90%;
        }
        &__texto--mail{
            margin-left: 15px;
        }
        &__texto--insta{
            margin: 0 0 0 5px;
        }
        &__texto--powered{
            display: none;
        }
    }

        /* TIENDA */

    #h1{
        width: 80%;
        font-size: 1.6rem;
        margin-left: 13%;
        margin-bottom: 0;
    }
    .tienda__linea--mod{
        width: 80%;
        margin: 5px auto 0 auto;
    }
    #iamyourflexfather{
        width: 70%;
        margin-bottom: 20%;
    }

    .tienda{
        &__img{
            width: 240px;
            height: 240px;
        }
        &__linea--articulo{
            width: 240px;
        }
    }

        /* BLOG */

    .blog{
        &__flex{
            width: 80%;
            margin: 10% auto 15% auto;
        }
        &__texto{
            padding: 0;
            font-size: 1.2rem;
        }
        &__elementos{
            margin-bottom: 50px;
        }
    }
    #imgBlog{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 6px;
    }

        /* CONTACTO */

        .contacto__form {
        margin: 10% auto 10% auto;
        width: 80%;
    }
    input[type=text]{
        width: 30vh;
    }
    input[type=email]{
        width: 30vh;
    }
    textarea{
        width: 45vh;
    }
    input[type=submit]{
        background-color: $fondo-secundario;
    }
    
        /* SOBRENOSOTRXS */

    .sobrenos{
        &__flex{
            flex-direction: column;
            width: 100%;
        }
        &__rectangulo {
            width: 100%;
            height: 300px;
        }
        &__img{
            width: 100%;
            height: auto;
        }
        &__img--mod{
            width: 100%;
            height: auto;
            margin :auto;
        }
        &__flextextos{
            width: 80%;
            margin: auto;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
        &__flextextos--img {
            width: 80%;
            margin: 0 auto 10% auto;
        }
        &__rectangulo--textoancho {
            width: 90%;
            text-align: center;
        }
        &__rectangulo--texto {
            font-size: 1.3rem;
        }
        &__rectangulo--lineainf {
            margin-bottom: 30px;
        }
    }
    .creditos{
        margin: 0;
    }
    .parrafos {
        font-size: 1.2rem;
        width: 80%;
        &__mod {
            margin: auto;
        }
    }
    
}
@media (max-width:480px){

    .logo{
        margin-left: 30%;
        padding: 0;
    }
    .texto__tiendavinter{
        margin-left: 40%;
    }
    .sobrenosotrxs{
        padding-right: 35%;
    }
    .vinterGrid{
        margin-top: 5%;
    }
    .imgPortada{
        max-width: 100%;
        height: 300px;
    }
    .cuadrado{
        width: 100%;
    }
    .contacto__form {
        margin: 10% auto 15% 13%;
        width: 80%;
    }
    textarea{
        width: 36vh;
    }
}
@media (max-width:400px){
    .lista{
        grid-template-rows: 3fr 2fr;
    }
    .logo{
        margin-left: 27%;
    }
    .texto__tiendavinter{
        margin: 0 0 0 38%;
        }
    .rectangulo{
        margin-bottom: 25%;
    }
}
@media (max-width:360px){
    .logo{
        margin-left: 25%;
        margin-right: 0px;
    }
    .texto__tiendavinter{
        margin: 0 0 0 37%;
    }
    textarea{
        width: 32vh;
    }
    .cuadrado__texto--titulo{
        font-size: 1.7rem;
    }
}

