* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%; }

.texto {
  font-family: Heebo;
  font-style: serif;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #404040;
  margin-left: 50px;
  margin-right: 50px; }
  .texto__tiendavinter {
    font-family: Heebo;
    font-size: 1.12rem;
    font-weight: bold;
    text-decoration: none;
    color: #404040;
    margin-right: 150px; }

.navegacion {
  position: sticky;
  top: 0;
  background-color: #fffffff1;
  padding-top: 20px;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  z-index: 1; }

.lista {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  flex-wrap: wrap; }

.logo {
  margin-left: 30%;
  margin-right: 45px;
  transition: all 1s ease-in-out; }

.logo:hover {
  animation: mover 1.5s;
  animation-iteration-count: infinite; }

@keyframes mover {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg); }
  20% {
    transform: translate(-1px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  60% {
    transform: translate(-1px, 0.5px) rotate(0deg); }
  80% {
    transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  100% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg); } }

.buscador {
  width: 50%;
  background-color: transparent;
  background-image: url(../recursos/searchicon3.png);
  background-position: 10px 7px;
  background-repeat: no-repeat;
  border-width: 0px;
  border-radius: 2px;
  border-style: hidden;
  border-color: transparent;
  padding: 10px 10px 10px 40px;
  margin-left: 150px;
  transition: all 0.7s ease-in-out; }
  .buscador:focus {
    border: transparent;
    border-color: transparent;
    background-color: rgba(255, 235, 185, 0.452); }

.linea {
  height: 1px;
  border-width: 0;
  color: #D1D1D1;
  background-color: #D1D1D1;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px; }
  .linea__2 {
    width: 25%;
    margin: auto;
    margin-bottom: 60px; }

.cuadrado {
  width: 500px;
  height: 500px;
  background-color: #F5F5F5;
  display: grid;
  align-content: space-evenly;
  justify-items: center; }
  .cuadrado__texto {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-size: 1.1rem;
    width: 425px;
    padding: 0px 20px 10px 20px; }
  .cuadrado__texto--titulo {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-size: 2.2rem;
    text-align: center;
    padding: 40px 100px 10px 100px; }

.boton {
  font-family: Heebo;
  color: #545454;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 1px;
  border: 1.5px solid;
  border-color: #c5c5c5;
  background-color: transparent;
  padding: 1px 2px 1px 2px;
  display: flex;
  transition: all 0.7s ease-in-out;
  cursor: pointer; }

.rectangulo {
  width: 100%;
  height: 180px;
  background-color: #F5F5F5;
  text-align: center;
  display: grid;
  align-content: stretch; }
  .rectangulo__texto--titulo {
    font-family: Frank Ruhl Libre;
    font-size: 1.75rem;
    font-style: normal;
    color: #252525;
    display: grid;
    align-content: center; }
  .rectangulo__texto {
    font-family: Frank Ruhl Libre;
    font-size: 1rem;
    color: #545454; }

.portada {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  margin-bottom: 60px; }

.footer {
  width: 40%;
  margin: auto;
  border-top-style: solid;
  border-width: 1px;
  border-color: #D1D1D1;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer__texto {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-size: 0.8rem;
    color: #545454;
    text-align: right;
    display: flex;
    align-items: center; }
  .footer__texto--mail {
    text-decoration: none;
    color: #545454;
    margin-left: 1px; }
  .footer__texto--insta {
    text-decoration: none;
    color: #545454;
    margin-left: 1px; }
  .footer__texto--powered {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
    font-size: 0.8rem;
    margin-top: 5px;
    padding-top: 30px;
    color: #D1D1D1;
    text-align: center; }

a {
  text-decoration: none;
  transition: all 0.7s ease-in-out; }
  a:hover {
    color: #a6a6a6; }

button:hover {
  font-size: 0.75;
  background-color: rgba(255, 235, 185, 0.452); }

#logo:hover {
  opacity: 0.4;
  cursor: pointer; }

#boton {
  color: #545454; }

/*TIENDA*/
.tienda__texto {
  font-family: Heebo;
  font-size: 1rem;
  color: #545454;
  font-weight: bold;
  margin: 5px 0px 5px 0px; }

.tienda__linea {
  height: 1px;
  border-width: 0;
  color: #D1D1D1;
  background-color: #D1D1D1;
  margin-top: 20px;
  margin-bottom: 100px; }

.tienda__linea--mod {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 90px; }

.tienda__elementos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  background-image: linear-gradient(to left, white, rgba(255, 235, 185, 0));
  transition: all 0.7s ease-in-out; }

.tienda__elementos:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(to left, white, rgba(255, 235, 185, 0.452)); }

.tienda__linea--articulo {
  width: 320px;
  height: 1px;
  border-width: 0;
  color: #D1D1D1;
  background-color: #D1D1D1;
  margin: 15px 0px 5px 0px; }

#iamyourflexfather {
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

#h1 {
  font-family: Heebo;
  font-size: 1.75rem;
  color: #404040;
  width: 50%;
  margin: auto;
  margin-bottom: 10px; }

.tienda__img {
  transition: all 0.7s ease-in-out; }

#tienda__img:hover {
  border-radius: 8px; }

/*BLOG*/
.blog__flex {
  width: 40%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.blog__elementos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
  transition: all 0.7s ease-in-out; }

.blog__texto {
  text-decoration: none;
  font-family: Frank Ruhl Libre;
  font-size: 1.6rem;
  color: #545454;
  font-weight: 500;
  padding-left: 50px; }

.blog__hover:hover {
  border-radius: 10px;
  background-image: linear-gradient(to left, white, rgba(255, 235, 185, 0.452));
  /*Chequear el tiempo de anim */
  cursor: pointer; }

/*CONTACTO*/
.contacto__form {
  width: 40vh;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline; }

.contacto__texto {
  font-family: Frank Ruhl Libre;
  font-size: 1rem;
  color: #545454; }

.contacto__form {
  width: 40vh;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline; }

.contacto__texto {
  font-family: Frank Ruhl Libre;
  font-size: 1rem;
  color: #545454; }

.contacto__texto--mod {
  padding-bottom: 5px; }

input[type=text] {
  width: 40vh;
  padding: 5px;
  border-width: 1px;
  border-color: #D1D1D1;
  border-style: ridge;
  transition: all 0.5s ease-in-out; }
  input[type=text][type=text]:focus {
    background-color: rgba(255, 235, 185, 0.452); }

input[type=email] {
  width: 40vh;
  padding: 5px;
  border-width: 1px;
  border-color: #D1D1D1;
  border-style: ridge;
  transition: all 0.5s ease-in-out; }
  input[type=email][type=email]:focus {
    border-color: transparent;
    background-color: rgba(255, 235, 185, 0.452); }

textarea {
  width: 60vh;
  height: 200px;
  resize: none;
  padding: 5px;
  border-width: 1px;
  border-color: #D1D1D1;
  border-style: ridge; }

input[type=submit] {
  font-family: Heebo;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  border-style: ridge;
  border-width: 1px;
  transition: all 0.5s ease-in-out; }
  input[type=submit][type=submit]:hover {
    background-color: rgba(255, 235, 185, 0.452);
    border-color: rgba(255, 235, 185, 0.452); }

input::placeholder {
  color: #D1D1D1; }

textarea::placeholder {
  color: #D1D1D1; }

/*SOBRE NOSOTRXS*/
.sobrenos__flex {
  display: flex;
  flex-direction: row; }

.sobrenos__rectangulo {
  width: 100%;
  height: 500px;
  background-color: #F5F5F5; }

.sobrenos__rectangulo--texto {
  font-family: Heebo;
  font-size: 1.87rem;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center; }

.sobrenos__rectangulo--textoancho {
  width: 615px;
  margin: auto;
  display: flex; }

.sobrenos__rectangulo--lineasup {
  height: 1px;
  border-width: 0;
  color: #D1D1D1;
  background-color: #D1D1D1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 13px; }

.sobrenos__rectangulo--lineainf {
  height: 1px;
  border-width: 0;
  color: #D1D1D1;
  background-color: #D1D1D1;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 50px; }

.sobrenos__flextextos {
  display: flex; }

.sobrenos__flextextos--img {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 5% 38%; }

.creditos {
  font-family: Frank Ruhl Libre;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 50px 70px 0px 35%; }
  .creditos__nombres {
    color: #545454; }
  .creditos__actividad {
    font-weight: bold; }

.parrafos {
  font-family: Frank Ruhl Libre;
  font-size: 1.4rem;
  color: #545454;
  width: 600px;
  text-align: justify;
  letter-spacing: 0.7px; }
  .parrafos__mod {
    margin: 50px 0px 50px 140px; }

.imgMargin {
  margin: 50px 0px 50px 0px; }

@media (max-width: 576px) {
  .navegacion {
    margin: 0;
    padding: 0; }
  .logo {
    margin-left: 33%;
    padding: 0; }
  .texto {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 0.9rem; }
    .texto__tiendavinter {
      margin-left: 43%; }
  .lista {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: " vinterGrid vinterGrid vinterGrid vinterGrid" " tienda2 blog contacto sobrenosotrxs";
    grid-template-rows: 7fr 2fr;
    grid-template-columns: 2fr 1fr 1fr 2fr; }
  .vinterGrid {
    grid-area: vinterGrid; }
  .tienda2 {
    grid-area: tienda2;
    padding-left: 30%; }
  .blog {
    grid-area: blog;
    padding-right: 50%; }
  .contacto {
    grid-area: contacto;
    padding-right: 50%; }
  .sobrenosotrxs {
    grid-area: sobrenosotrxs;
    padding-right: 45%; }
  .buscador {
    display: none; }
  .linea {
    margin: 10px 0 10% 0; }
  .imgPortada {
    height: 300px;
    width: 500px;
    object-fit: cover; }
  .portada {
    margin-bottom: 10%; }
  .cuadrado {
    height: 300px;
    align-content: center;
    row-gap: 20px; }
    .cuadrado__texto--titulo {
      padding: 0;
      font-size: 1.8rem;
      font-weight: lighter; }
    .cuadrado__texto {
      width: 75%;
      padding: 0;
      text-align: center; }
  .boton {
    font-size: 0.9rem;
    font-weight: 200; }
  .linea__2 {
    display: none; }
  .rectangulo {
    width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 15%;
    background-color: white;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #D1D1D1; }
    .rectangulo__texto--titulo {
      font-size: 1.6rem;
      padding-top: 3px; }
    .rectangulo__texto {
      padding: 3px; }
  .footer {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    bottom: 0; }
    .footer__texto {
      font-size: 0.95rem;
      margin: 0 12px 0 12px; }
    .footer__texto--powered {
      display: none; }
  #footerElem {
    width: 33%; }
  /* TIENDA */
  #h1 {
    width: 80%;
    margin-left: 13%;
    margin-bottom: 0; }
  .tienda__linea--mod {
    width: 80%;
    margin: 5px auto 0 auto; }
  #iamyourflexfather {
    width: 70%;
    margin-bottom: 20%; }
  .tienda__img {
    width: 300px;
    height: 300px; }
  .tienda__linea--articulo {
    width: 300px; }
  /* BLOG */
  .blog__flex {
    width: 80%;
    margin: 10% auto 15% auto; }
  .blog__texto {
    padding: 0;
    font-size: 1.4rem; }
  #imgBlog {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px; }
  /* CONTACTO */
  .contacto__form {
    margin: 10% auto 10% auto;
    width: 80%; }
  input[type=text] {
    width: 30vh; }
  input[type=email] {
    width: 30vh; }
  textarea {
    width: 45vh; }
  /* SOBRENOSOTRXS */
  .sobrenos__flex {
    flex-direction: column;
    width: 100%; }
  .sobrenos__rectangulo {
    width: 100%;
    height: 300px; }
  .sobrenos__img {
    width: 100%;
    height: auto; }
  .sobrenos__img--mod {
    width: 100%;
    height: auto;
    margin: auto; }
  .sobrenos__flextextos {
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 30px; }
  .sobrenos__flextextos--img {
    width: 80%;
    margin: 0 auto 10% auto; }
  .sobrenos__rectangulo--textoancho {
    width: auto;
    text-align: center; }
  .sobrenos__rectangulo--texto {
    font-size: 1.3rem; }
  .sobrenos__rectangulo--lineainf {
    margin-bottom: 30px; }
  .creditos {
    margin: 0; }
  .parrafos {
    font-size: 1.2rem;
    width: 80%; }
    .parrafos__mod {
      margin: auto; } }

@media (max-width: 480px) {
  .logo {
    margin-left: 30%;
    padding: 0; }
  .texto__tiendavinter {
    margin-left: 40%; }
  .sobrenosotrxs {
    padding-right: 35%; }
  .vinterGrid {
    margin-top: 5%; }
  .imgPortada {
    max-width: 100%;
    height: 300px; }
  .cuadrado {
    width: 100%; }
  .contacto__form {
    margin: 10% auto 15% 13%;
    width: 80%; }
  textarea {
    width: 36vh; } }
